@page "/"
@inherits ReactiveComponentBase<ViewModels.IndexViewModel>

<div class="container">
    <form class="g-3">
        <div class="mb-3">
            <label for="inputWeight" class="form-label">Weight</label>
            <div class="input-group">
                <input type="number" class="form-control" id="inputWeight"
                       min="0" step="0.1"
                       @bind-value="ViewModel!.Weight"
                       @bind-value:event="oninput">
                <span class="input-group-text">kg</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm">
                <label for="inputLength" class="form-label">Length</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="inputLength"
                           min="0" step="1"
                           @bind-value="ViewModel!.Length"
                           @bind-value:event="oninput">
                    <span class="input-group-text">cm</span>
                </div>
            </div>
            <div class="col-sm">
                <label for="inputWidth" class="form-label">Width</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="inputWidth"
                           min="0" step="1"
                           @bind-value="ViewModel!.Width"
                           @bind-value:event="oninput">
                    <span class="input-group-text">cm</span>
                </div>
            </div>
            <div class="col-sm">
                <label for="inputHeight" class="form-label">Height</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="inputHeight"
                           min="0" step="1"
                           @bind-value="ViewModel!.Height"
                           @bind-value:event="oninput">
                    <span class="input-group-text">cm</span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm">
                <p>Volume: @(ViewModel?.PackageDimensions?.Volume ?? 0) cm<sup>3</sup></p>
            </div>
        </div>
    </form>

    @{
        if (!CalculatedCost)
        {
            <div class="col-12">
                <button class="btn btn-primary" @onclick="CalculateCost">Calculate cost</button>
            </div>
        }
        else
        {
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Courier</th>
                    <th scope="col" colspan="2">Shipping Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" class="col-3">Cargo4You</th>
                    @{
                        if (ViewModel?.Cargo4YouCost is not null)
                        {
                            <td>@ViewModel?.Cargo4YouCost</td>
                            <td class="col-5 col-sm-4">
                                <button class="btn btn-primary" @onclick="PostWithCargo4You">Send Package</button>
                            </td>
                        }
                        else
                        {
                            <td colspan="2">@ViewModel?.Cargo4YouValidation</td>
                        }
                    }
                </tr>
                <tr>
                    <th scope="row" class="col-3">ShipFaster</th>
                    @{
                        if (ViewModel?.ShipFasterCost is not null)
                        {
                            <td>@ViewModel?.ShipFasterCost</td>
                            <td class="col-5 col-sm-4">
                                <button class="btn btn-primary" @onclick="PostWithShipFaster">Send Package</button>
                            </td>
                        }
                        else
                        {
                            <td colspan="2">@ViewModel?.ShipFasterValidation</td>
                        }
                    }
                </tr>
                <tr>
                    <th scope="row" class="col-3">MaltaShip</th>
                    @{
                        if (ViewModel?.MaltaShipCost is not null)
                        {
                            <td>@ViewModel?.MaltaShipCost</td>
                            <td class="col-5 col-sm-4">
                                <button class="btn btn-primary" @onclick="PostWithMaltaShip">Send Package</button>
                            </td>
                        }
                        else
                        {
                            <td colspan="2">@ViewModel?.MaltaShipValidation</td>
                        }
                    }
                </tr>
                </tbody>
            </table>
        }
    }

</div>
